html, body, #__next {
    height: 100%;
}


.carousel-item img{
    height: 500px;
    width: 100%;
}

.text-primary{
    color:#e17853 !important;
}

.btn-primary{
    background-color: #e17853;
    border-color: #ee6635;
}
.btn-primary:hover{
    background-color: #c25d38;
    border-color: #d35729;
}

.footer{
    background-color: #e17853 !important;
}

.img-preview{
    z-index: 99;
}

.marketing .icons{
    font-size: 4rem;
    color: #e17853;
}

.marketing .icons:hover {
    transform: scaleX(1.1);
    transition: 0.2s ease-out;
}

.work-bg{
    background: #fdeae3;
    padding: 2px 15px;
    width: 18rem;
    border-radius: 15px;
    margin-top: 2rem;
}

.bg-color{
    background: #fdeae3;
}

.circle-border{
    border: 1px solid rgb(255, 201, 201);
    border-radius: 50%;
}

.border-remove{
    border: none;
}

.list-group{
    border-radius: 10px !important;
}

.color-text{
    color:#ee6635 !important;
}

.footer{
    background-color: #e17853 !important;
}


.footer a{
    color: white;
}

.footer a:hover{
    color: darkgray;
}

.after-footer{
    font-size: 16px;
}