html, body, #__next {
    height: 100%;
}

.marketing > div > div:hover{
    background-color: rgb(188, 188, 188);
    color: white;
}

.marketing .icons{
    font-size: 100px;
    
}

.marketing .icons:hover {
    transform: scaleX(1.3);
    transition: 0.3s ease-out;
}

.footer a{
    color: white;
}

.footer a:hover{
    color: darkgray;
}